

.carousel-container {
  width: 900px;
  height: 450px;
}

.img-container {
  height: 100%;
  width: 100%;
}

.img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: top center;
}

.my-bottom {
  bottom: 0;
}

.img-container:not(.my-active) {
  display: none;
}